<div ng-controller="NodeDetailCtrl as NodeCtrl">

  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-header">
          <h5>Harware Block Diagram</h5>
          <div class="tools">
            <i class="fa fa-television"></i>
          </div>
        </div>
        <div class="widget-body">
          <div class="row">
            <div class="col-md-8">
              <img ng-src="{{NodeCtrl.hardwareImage}}" class="img-responsive">
            </div>
            <div class="col-md-4">
              <h5>Info:</h5>
              <table class="table table-striped">
                <tr ng-repeat="info in NodeCtrl.hardwareInfo">
                  <td>{{info.key}}</td>
                  <td>{{info.value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--Hardware Block Diagram-->
    </div>

    <div class="col-md-6" ng-repeat="sensor in NodeCtrl.sensors">
      <div class="widget">
        <div class="widget-header">
          <h5>{{sensor.name}} - {{sensor.type}}</h5>
          <div class="tools">
            <i class="wi wi-thermometer"></i>
          </div>
        </div>
        <div class="widget-body">
          <sensor-detail data="sensor"></sensor-detail>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="widget">
        <div class="widget-header">
          <h5>XBee Transmitter Settings</h5>
        </div>
        <div class="widget-body">
          <table class="table table-striped">
            <tr ng-repeat="xbSetting in NodeCtrl.xbSettings">
              <td>{{xbSetting.setting}}</td>
              <td>{{xbSetting.description}}</td>
              <td>{{xbSetting.range}}</td>
              <td>{{xbSetting.value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
