<div ng-controller="MainCtrl as mainCtrl">

  <div class="row">
    <!--Temperature Chart-->
    <div class="col-md-9">
      <div class="widget">
        <div class="widget-header">
          <h5>Temperature</h5>
          <div class="tools">
            <i class="fa fa-line-chart"></i>
          </div>
        </div>
        <div class="widget-body text-center">
          <flot dataset="tempDatasets" options="options" height="250px"></flot>
          <span>Time (seconds)</span>
        </div>
      </div>
    </div>
    <!--/Temperature Chart-->

    <!-- Temperature Guage -->
    <div class="col-md-3">
      <div class="widget">
        <div class="widget-header">
          <h5>Average Temperature</h5>
          <div class="tools">
            <i class="wi wi-thermometer"></i>
          </div>
        </div>
        <div class="widget-body">
          <div class="text-center">
            <h3>{{averageTemp}}
            <i class="wi wi-fahrenheit"></i></h3>
          </div>
          <div ng-repeat="sensor in sensors">
            <strong>Node {{sensor.id}} </strong>
            <small > {{sensor.temp}}<i class="wi wi-fahrenheit"></i></small>
          </div>

        </div>
        <div class="widget-footer">
          <small>Total Nodes</small>
          <div class="stat text-success font-bold">
            {{sensors.length}}
            <i class="fa fa-bolt"></i>
          </div>
        </div>
      </div>
    </div>
    <!--/Temperature Guage-->

    <!--Humidity Chart-->
    <div class="col-md-9">
      <div class="widget">
        <div class="widget-header">
          <h5>Relative Humidity</h5>
          <div class="tools">
            <i class="fa fa-line-chart"></i>
          </div>
        </div>
        <div class="widget-body text-center">
          <flot dataset="humDatasets" options="options" height="250px"></flot>
          <span>Time (seconds)</span>
        </div>
      </div>
    </div>
    <!--/Humidity Chart-->

    <!--Humidity Guage-->
    <div class="col-md-3">
      <div class="widget">
        <div class="widget-header">
          <h5>Average RH</h5>
          <div class="tools">
            <i class="wi wi-humidity"></i>
          </div>
        </div>
        <div class="widget-body">
          <div class="text-center">
            <h3>{{averageHum}}%</h3>
          </div>
          <div ng-repeat="sensor in sensors">
            <strong>Node {{sensor.id}} </strong>
            <small> {{sensor.hum}} %</small>
          </div>
        </div>
        <div class="widget-footer">
          <small>Total Nodes</small>
          <div class="stat text-info font-bold">
            {{sensors.length}}
            <i class="fa fa-bolt"></i>
          </div>
        </div>
      </div>
    </div>
    <!--/Humidity Guage-->


    <div class="widget" ng-repeat="sensor in sensors">
      <div class="widget-header">
        <h5>Raw Data</h5>
      </div>
      <div class="widget-body">
        {
          type: {{sensor.raw.type}},
          remote64: {{sensor.raw.remote64}},
          remote16: {{sensor.raw.remote16}},
          receiveOptions: {{sensor.raw.receiveOptions}},
          temperature: {{sensor.raw.temperature}},
          humidity: {{sensor.raw.humidity}}
        }
      </div>
    </div>
  </div>
</div>
