/*********************** Start: Topbar Styles *****************************/
.navbar {
  padding: 0;
  margin: 0;
  border: none;
  z-index: 200;
}

.navbar .navbar-top {
    border: 0;
    min-height: 55px;
    /* 4285F4 */
    background-color: #4285F4; /* For browsers that don't support gradients */
    /* For Safari 5.1 to 6.0 */
    background-image: -webkit-linear-gradient(left, #2D5BA5 0%, #4285F4 100%);
    /* For Opera 11.6 to 12.0 */
    background-image: -o-linear-gradient(left, #2D5BA5 0%, #4285F4 100%);
    /* For Firefox 3.6 to 15 */
    background-image: -moz-linear-gradient(right, #2D5BA5 0%, #4285F4 100%);
    /* Standard Syntax */
    background-image: linear-gradient(to right, #2D5BA5 0%, #4285F4 100%);
}

.navbar .navbar-brand {
  padding: 2px 0;
  height: 55px;
}

.navbar .navbar-brand small img {
  height: 50px;
  width: 180px;
}

.navbar .sidebar-collapse {
  text-align: center;
  padding: 0;
  width: 70px;
  height: 55px;
  margin-left: 5px;
}

.navbar .sidebar-collapse .collapse-icon {
  display: inline-block;
  cursor: pointer;
  margin: 3px 0;
  font-size: 20px;
  color: #fff;
  padding: 13px 20px;
  position: relative;
}

.navbar .sidebar-collapse:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.4);
}

.navbar .navbar-top .navbar-container .navbar-right {
  margin-right: 2px;
}

.navbar-top .navbar-right a {
  color: #ffffff;
  font-size: 16px;
  line-height: 54px;
  padding: 0;
  min-width: 50px;
  height: 55px;
  text-align: center;
}

.navbar-top .navbar-right a .fa-cog {
  font-size: 22px;
  line-height: 50px;
}
/*********************** End: Topbar Styles *****************************/
